
.token {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .golden {
    background-color: gold;
  }
  
  .silver {
    background-color: silver;
  }